.bookForm {
  width: 30rem;
  margin: 5rem auto;

  .flex_col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .upload_button {
    width: 6rem;
    height: 2.5rem;
  }
}

.bookFormButton {
  margin: 1rem auto;
  width: 5rem;
}

.photo {
  width: 3rem;
  height: 3rem;
  border-radius: 2px;
  margin-right: 0.5rem;
}

.photo_container {
  width: 7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
