@use "./globalStyles.module" as global;

/* Default styles for mobile */
.bookContainer {
  margin: 3rem;
}

.bookDraft {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.backButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  background: none;
  color: global.$blue-dark-color;
  font-size: large;
}

.bookCard {
  margin: auto;
  width: 100%;
  box-shadow: global.$dark-shadow;
}

.bookImage {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .bookCard {
    width: 24rem;
  }
}
