@use "./globalStyles.module" as global;

/* Default styles for mobile */
.bookContainer {
  margin: 3rem;
}

.bookDraft {
  display: flex;
  height: 10rem;
  width: 100%;
  background-color: rgb(160, 192, 240);
}

.breadcrumb {
  background-color: global.$white-color;
  padding: 1rem;
}

.imgThumbnail {
  width: 10rem;
  height: auto;
  margin: 1rem;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.backButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  background: none;
  color: global.$white-color;
  font-size: large;
}

.bookCard {
  margin: auto;
  width: 100%;
  box-shadow: global.$dark-shadow;
}

.bookImage {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .bookCard {
    width: 24rem;
  }
}
