.bookCard {
  max-width: 18rem;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bookImage {
  width: 100%;
  height: auto;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;

  button {
    width: 5rem;
  }
}
