@font-face {
  font-family: "MuseoSans300";
  src: url(../fonts/museo-sans-300.ttf);
}

$body-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$background-color: #f9f9f9;
$error-color: #db3545;
$red-color: #ff0000;
$white-color: #ffffff;
$writing-color: #555;
$label-color: #9e9e9e;
$yellow-color: #ffff00;
$info-color: #0d6dfc;
$blue-dark-color: #003366;
$blue-light-color: #6ec8f5;
$active-color: #0b5ed7;
$hover-color: #0b5ed7;
$search-hover-color: #e8f0ff;
$disabled-color: #e9ecf0;
$dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
$input-border: 1px solid #dfe2e6;
$pagination-border: 1px solid #dee2e6;
$input-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
$error-border: 1px solid $error-color;
$error-shadow: 0 0 5px $error-color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: $body-font;
}

.spinnerOverlay {
  position: fixed; /* cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* appear above all content */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* light gray border */
  border-top: 5px solid #3498db; /* blue border top */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-size: 1.1rem;
}
