.library {
  min-height: 92vh;
  background-image: url("../images/library.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.viewLink {
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 200%;

  &:hover {
    color: yellow;
    font-size: 250%;
    transition: 0.1s;
  }
}
