.photoLabel {
  color: #414a4c !important;
  font-size: 1.2rem;
  margin: 1rem;
}

.photoContainer {
  width: 10rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.photo {
  max-width: 6rem;
  max-height: 8rem;
  border-radius: 2px;
}

.photoNoFileText {
  font-size: 1rem;
  color: rgb(158, 158, 158);
}
