@use "./globalStyles.module" as global;

.photoLabel {
  color: global.$writing-color;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.photoInput {
  display: none;
}

.photoContainer {
  width: 6rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  max-width: 6rem;
  max-height: 8rem;
  border-radius: 2px;
}

.uploadButton {
  width: 6rem;
  margin: 1rem;
}
