@use "./globalStyles.module" as global;

.menu {
  display: flex;
  align-items: center;
  height: 8vh;
  padding: 0 2rem;
  background-color: global.$blue-dark-color;
  font-size: 1.2rem;

  a {
    color: global.$white-color;
    margin: 0 1rem;

    &.brand {
      font-size: 1.7rem;
      font-weight: bolder;
      color: global.$blue-light-color;
    }

    &:hover {
      filter: brightness(55%);
    }

    &.active {
      color: global.$blue-light-color;
    }
  }

  .logmenu,
  .activeLogmenu {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .activeLogmenu {
    color: global.$blue-light-color;
  }
}

.logoutIcon {
  color: global.$white-color;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    color: global.$red-color;
  }
}

.username {
  margin-left: auto;
  margin-right: 1rem;
  color: global.$blue-light-color;
}
