@use "./globalStyles.module" as global;

/* Default styles for mobile */
.menu {
  display: flex;
  align-items: center;
  height: 8vh;
  padding: 0 6rem;
  background-color: #212529;
  font-size: 1.2rem;
}

.hamburguer {
  margin-left: auto;
  border: none;
  background: #003366;
}

.showNavbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  position: absolute;
  top: 8vh;
  left: 0;
  height: 92vh;
  z-index: 1000;
  transform: translateX(-1rem);
  transition: 0.3s ease;
  background-color: #212529;
}

.hideNavbar {
  display: none;
}

.navElements {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.transparentArea {
  border: none;
  background: transparent;
}

.link,
.login,
.username {
  color: global.$white-color;
  margin: 1rem;
}

.link,
.login {
  &:hover {
    color: global.$hover-color;
  }
}

.active,
.activeLogin {
  margin: 1rem;
  color: global.$active-color;
}

.userSection {
  display: flex;
  align-items: center;
}

.logoutBtn {
  color: global.$white-color;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;

  &:hover {
    color: global.$red-color;
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) {
  .hamburguer,
  .transparentArea {
    display: none;
  }

  .showNavbar,
  .hideNavbar {
    display: flex;
    position: unset;
    height: 8vh;
    width: 100%;
  }

  .navElements {
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .login,
  .activeLogin,
  .userSection,
  .username {
    margin-left: auto;
  }
}
