@use "./globalStyles.module" as global;

/* Default styles for mobile */
.userListTitle {
  text-align: center;
  margin-top: 2rem;
}

.noUserTitle {
  margin-top: 3rem;
  text-align: center;
}

.userList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  padding: 1rem;
}

.userCard {
  box-shadow: global.$dark-shadow;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.frame {
  height: 20rem;
  width: 20rem;
  overflow: hidden;
}

.userImage {
  height: auto;
  width: 20rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;

  button {
    width: 5rem;
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) {
  .userList {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 20rem));
    justify-content: space-evenly;
  }
}

/* Media query for desktops */
@media screen and (min-width: 1024px) {
  .bookList {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 22rem));
  }
}
