@use "./globalStyles.module" as global;

/* Default styles for mobile */
.userListTitle {
  text-align: center;
  margin-top: 2rem;
}

.noUserTitle {
  margin-top: 3rem;
  text-align: center;
}

.userList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 3rem;
  padding: 1rem;
}

.userCard {
  width: 16rem;
  margin: 1rem auto;
  box-shadow: global.$dark-shadow;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;

  button {
    width: 5rem;
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) {
  .userList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 3rem;
    padding: 1rem;
  }
}

/* Media query for desktops */
@media screen and (min-width: 1024px) {
  .bookList {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
