@use "./globalStyles.module" as global;

/* Default styles for mobile */
.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 1rem auto;
  width: 90%;
  background-color: global.$background-color;
  color: global.$writing-color;
}

.warning:after {
  content: " *";
  color: global.$red-color;
}

.asterisk {
  margin: 0 0.5rem;
  font-size: 2ch;
  color: global.$red-color;
  cursor: help;
}

.textField,
.buttonGroup {
  width: 100%;
}

.textField {
  display: flex;
  align-items: center;
  background: global.$white-color;
  border: global.$input-border;
  border-radius: 0.4rem;
  padding: 5px;
  width: 100%;
  margin-top: 2.5rem;

  &.isInvalid {
    border: global.$error-border;
    box-shadow: global.$error-shadow;
  }

  &:focus-within {
    border-color: global.$info-color;
    box-shadow: global.$input-shadow;
  }
}

.userFormInput {
  width: 100%;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

.linkField {
  display: flex;
  flex-direction: column;
}

.photoField {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2.5rem 0;
  background: global.$white-color;
  border: global.$input-border;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;

  button {
    width: 100%;
    height: 3.5rem;
    margin: 1rem auto;
    font-size: large;
  }
}

/* Media query for tablets */
@media screen and (min-width: 768px) {
  .userForm {
    max-width: 46rem;
    margin: 2rem auto;
    border: 2px solid global.$input-border;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: global.$dark-shadow;
  }

  .textField,
  .photoField,
  .buttonGroup {
    max-width: 34rem;
  }

  .userFormInput {
    width: 30rem;
  }

  .buttonGroup {
    grid-column: span 2;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;

    button {
      width: 10rem;
    }
  }
}

/* Media query for desktops */
@media screen and (min-width: 1024px) {
  .userForm {
    max-width: 52rem;
  }

  .textField,
  .photoField,
  .buttonGroup {
    max-width: 40rem;
  }

  .userFormInput {
    width: 36rem;
  }
}
