@use "./globalStyles.module" as global;

.userForm {
  display: grid;
  grid-template-columns: 1fr 1fr 2rem 2fr 2fr;
  grid-auto-rows: 4rem 1.5rem;
  grid-gap: 0rem 1rem;
  align-items: center;
  margin: 4rem auto;
  width: 90%;
  color: global.$writing-color;

  h2 {
    grid-column: 4 / 5;
    text-align: center;
  }

  label {
    color: global.$label-color;
  }

  .fullnameError,
  .usernameError,
  .emailError,
  .passwordError {
    grid-column: 4 / 4;
    text-align: center;
    color: global.$error-color;
  }

  .fullnameField,
  .usernameField,
  .emailField,
  .passwordField {
    grid-column: 4 / 4;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .fullnameError {
    grid-row: 2/3;
  }

  .fullnameField {
    grid-row: 3/4;
  }

  .usernameError {
    grid-row: 4/5;
  }

  .usernameField {
    grid-row: 5/6;
  }

  .emailError {
    grid-row: 6/7;
  }

  .emailField {
    grid-row: 7/8;
  }

  .passwordError {
    grid-row: 8/9;
  }

  .passwordField {
    grid-row: 9/10;
  }

  .linkField,
  .photoField {
    display: flex;
    flex-direction: column;
  }

  .linkField {
    grid-row: 11/12;
    grid-column: 4 / 4;
    margin-top: 1rem;
  }

  .photoField {
    grid-column-start: 2;
    grid-row: 2 / 9;
    align-items: center;
    margin-right: 2rem;
  }

  .registerButtonGroup,
  .editProfileButtonGroup {
    grid-column: 4 / 4;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

    button {
      width: 10rem;
      height: 3rem;
      font-size: large;
      color: global.$white-color;
    }
  }

  .registerButtonGroup {
    grid-row: 13 / 14;
  }

  .editProfileButtonGroup {
    grid-row: 9 / 10;
  }

  .uploadButton {
    margin-top: 1rem;
    height: 2.5rem;
  }

  .submitButton {
    grid-column-start: 3;
    width: 12rem;
    height: 3rem;
    margin: 1rem auto;
  }
}

.passwordIcon,
.mailIcon,
.userIcon,
.fullnameIcon {
  grid-column: 3 / 3;
}

.fullnameIcon {
  grid-row: 3/4;
}

.userIcon {
  grid-row: 5/6;
}

.mailIcon {
  grid-row: 7/8;
}

.passwordIcon {
  grid-row: 9/10;
}
